server.port: 9345

spring:
  config:
    import: secrets.yaml
  datasource:
    url: jdbc:oracle:thin:@(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1521)(host=adb.uk-london-1.oraclecloud.com))(connect_data=(service_name=g2e77f48e70267f_pokemonteambuilderdev_low.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))
    username: ${TeamBuilderDBUsername}
    password: ${TeamBuilderDBPassword}
  jpa:
    hibernate:
      ddl-auto: none
      use-new-id-generator-mappings: false
